<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <receiver
            android:name=".PhotoWidgetReceiver"
            android:exported="true"
            android:label="Photo">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/photo_widget_info" />
            <meta-data
                android:name="com.samsung.android.appwidget.provider"
                android:resource="@xml/samsung_widget_cover_info" />
            <meta-data
                android:name="com.samsung.android.sdk.subscreen.widget.support_visibility_callback"
                android:value="true" />
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.akexorcist.photooncover.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/widget_file_path" />
        </provider>
    </application>
</manifest>
